<!-- <label id="example-radio-group-label">Pick your favorite season</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="favoriteSeason">
  <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group>
<div>Your favorite season is: {{favoriteSeason}}</div> -->
<div class="container">
  <span class="fill-remaining-space"></span>
  <!-- <br><br>
  <div style="text-align: center;">    
      <span style="font-size: 30px;">إدراج أنواع وأكواد المنتجات الخاصة بمتعامل</span>
  </div>
  <span class="ffill-remaining-space"></span>
  <br><br> <br><br> -->
  <form [formGroup]="subAgentService.subAgentForm" class="normal-form" dir="rtl" (submit)="submit()"
    (keydown.enter)="$event.preventDefault()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group">
            <label style="text-align: right;margin-left: 40px;">رقم هيئة الميناء </label>
            <input type="text" class="form-control" formControlName="MNFSTVesselVisitId">
          </div>
        </div>
        <ng-container formGroupName="nested">
        <div class="form-group">
          <div class="input-group">
            <label style="text-align: right;margin-left: 20px;">رقم طريق الجمارك </label>
            <input type="text" class="form-control" formControlName="MNFSTRoadNumber">
            <div [hidden]="!subAgentService.subAgentForm.value.nested.MNFSTRoadNumber">
              <mat-form-field appearance="fill">
                <mat-label> اختر سنة (مطلوب)</mat-label>
                <select matNativeControl required  formControlName="MNFSTYear" >
                  <option *ngFor="let year of years" [value]="year">{{year}}</option>  
                </select>  
              </mat-form-field>
            </div>

          </div>
        </div>
        </ng-container>

        <div class="form-group">
          <div class="input-group">
            <label style="text-align: right;margin-left: 35px;"> السفينة بالعربي </label>
            <input type="text" class="form-control" formControlName="SHIPArabicName">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">

            <label style="text-align: right;"> السفينة باللغة الانجليزية </label>
            <input type="text" class="form-control" formControlName="SHIPEnglishName">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">

            <label style="text-align: right;margin-left: 60px;"> النداء الآلي </label>
            <input type="text" class="form-control" formControlName="SHIPCallSign">
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <label style="text-align: right;margin-left: 20px;"> IMO Number </label>
            <input type="text" class="form-control" formControlName="SHIPIMORegNumber">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <label style="text-align: right;margin-left: 20px;"> رقم المتعامل </label>
            <input  type="text" class="form-control" formControlName="CDLRNumber"  maxlength="9" maxlength="9">
          </div>
        </div>
        <div class="col-md-6 col-md-offset-3">
          <div class="form-group">
            <button type="submit" class="btn btn-primary" value="submit"   style="margin-right: 20px;">بحث</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="mat-elevation-z8" [ngClass]="{'hide':!isSearched}">
    <mat-table [dataSource]="listData" matSort>
      <ng-container matColumnDef='MNFSTRoadNo'>
        <mat-header-cell *matHeaderCellDef mat-sort-header>رقم الطريق </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.MNFSTRoadNo}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef='MNFSTYear'>
        <mat-header-cell *matHeaderCellDef mat-sort-header> السنة </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.MNFSTYear}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef='PortNumber'>
        <mat-header-cell *matHeaderCellDef mat-sort-header> الميناء </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.PortNumber}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef='ArrivalDate'>
        <mat-header-cell *matHeaderCellDef mat-sort-header>تاريخ الوصول </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.ArrivalDate}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef='ShipENGName'>
        <mat-header-cell *matHeaderCellDef mat-sort-header> السفينة باللغة الانجليزية</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.ShipENGName }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef='ShipName'>
        <mat-header-cell *matHeaderCellDef mat-sort-header>السفينة باللغة العربية</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.ShipName }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef='ShipIMORegNumber'>
        <mat-header-cell *matHeaderCellDef mat-sort-header >IMO Number</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.ShipIMORegNumber }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef='CallSign'>
        <mat-header-cell *matHeaderCellDef mat-sort-header>النداء الآلي</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.CallSign }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef='actions'>
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let element">

          <button mat-icon-button (click)="showManifest(element.MNFSTIsn,element.MNFSTDDBId)">
            <mat-icon>launch</mat-icon>
          </button>
          <button (click)="showBols(element.MNFSTIsn,element.MNFSTDDBId)">البوالص</button>

        </mat-cell>
      </ng-container> 

      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="8">
          Loading data...
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="8">
          No data.
        </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}">
      </mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>

    <br><br>
    <!-- <div class="alert-success col-md-6">
      <h4 [innerHTML]="message"></h4>
    </div> -->
  </div>
</div>