<div class="container">
  <span class="fill-remaining-space"></span>
  <span style="font-size: 30px;"></span>
  <span class="fill-remaining-space"></span>
  <br><br> <br><br>
  <form [formGroup]="this.userForm" *ngIf="userForm" class="normal-form" dir="rtl" (submit)="onSubmit()"
    (keydown.enter)="$event.preventDefault()">
    <input type="hidden" value="" formControlName="ID">




    <div class="row">
      <div class="col-md-6">

        <div class="form-group">
          <div class="input-group">
            <label style="text-align: right;margin-left: 40px;">اسم المستخدم </label>
            <!-- <div class="input-group-prepend"> -->
            <input type="text" class="form-control" formControlName="user">
            <!-- </div> -->
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <label style="text-align: right;margin-left: 40px;">كلمة المرور</label>
            <!-- <div class="input-group-prepend"> -->
            <input type="text" class="form-control" formControlName="password">
            <!-- </div> -->
          </div>
        </div>


        <div class="form-group">
          <div class="input-group">
            <label style="text-align: right;margin-left: 40px;" [hidden]="id == null" >تاريخ الإدراج</label>

            <mat-form-field [hidden]="id == null" >
              <input formControlName="dateentry" [(value)]='dateentry' matInput [matDatepicker]="pickerEntryDate"
                placeholder="">
              <mat-datepicker-toggle matSuffix [for]="pickerEntryDate"></mat-datepicker-toggle>
              <mat-datepicker #pickerEntryDate></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">

          <label style="text-align: right;margin-left: 40px;">تاريخ بداية كلمة المرور</label>

          <mat-form-field>
            <input formControlName="startdate" [(value)]='startdate' matInput [matDatepicker]="pickerStartDate"
             >
            <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
            <mat-datepicker #pickerStartDate></mat-datepicker>
          </mat-form-field>
</div>
        </div>
        <div class="form-group">
          <div class="input-group">

            <label style="text-align: right;margin-left: 40px;">تاريخ نهاية كلمة المرور</label>
  
          <mat-form-field>
            <input formControlName="enddate" [(value)]='enddate' matInput [matDatepicker]="pickerEndDate"
              placeholder="">
            <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
            <mat-datepicker #pickerEndDate></mat-datepicker>
          </mat-form-field>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">

            <label style="text-align: right;margin-left: 40px;">نوع المستخدم</label>

          <mat-form-field>
            <mat-select formControlName="flag" placeholder="" [disabled]="ExpnesesListlength>0">
              <ng-container *ngFor="let department of usersTypeArray">
                <mat-option [(value)]="department.id">{{department.name}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          </div>
        </div>

        <!-- <div class="form-group">
          <mat-radio-group style="color:black; align-items: initial;margin: 10px;" aria-label="Select an option"
            formControlName="flag" [class.is-invalid]="(submitted || f.flag.touched) && f.flag.errors">
            <mat-radio-button style="color:black;" value="1">&nbsp;&nbsp;Admin</mat-radio-button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <mat-radio-button style="color: black;" value="2">&nbsp;&nbsp;user</mat-radio-button>
          </mat-radio-group>
        </div> -->
      </div>

    </div>
    <div class="button-box">
      <div class="button-row">
        <button id="myAnchor" mat-raised-button color="primary" type="submit">حفظ</button>

      </div>
    </div>
  </form>
</div>