<form [formGroup]="countForm" *ngIf="countForm" class="normal-form" dir="rtl" 
    (keydown.enter)="$event.preventDefault()">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <label style="margin: 0px 20px;">القطاع</label>
                 
                <ng-select [items]="sections" formControlName="SectionId" bindLabel="name" bindValue="sec"
                    (change)="onchangeSections($event)" placeholder="Select Section"
                    style="width: 300px; margin: 0px 20px;">
                </ng-select>
                <button type="button" (click)="GetdevicesCountForSectors(sectorID,1)">عرض
                </button>
            </div>

        </div>


        <div class="col-md-6">
        <ng-container *ngIf="centersList != null">

            <tr>
                <td>
                    <label style="margin: 0px 20px;">الإدارة المركزية</label>
                </td>
                <td>
                    <div class="input-group">
                        <ng-select formControlName="Centers" bindLabel="name" bindValue="center.cod"
                            (change)="onchangeCenters($event)" placeholder=" اختر إدارة مركزية"
                            style="width: 300px; margin: 0px 20px;">
                            <ng-option *ngFor="let center of centersList" [(value)]="center.cod">{{center.name}}
                            </ng-option>
                        </ng-select>
                        <button type="button"  (click)="GetdevicesCountForSectors(centerID,2)" *ngIf="centerID != null">عرض
                        </button>
                    </div>
                </td>
            </tr>
        </ng-container>
    </div>
    </div>
    <br><br><br>
<div class="button-box">
    <div class="button-row">
        <button printSectionId="print-section" mat-raised-button color="primary" type="button"
            *ngIf="result != null && result.length > 0" ngxPrint>طباعة</button>
    </div>
</div>
<div class="mat-elevation-z8" [ngClass]="{'hide':!isSearched}" id="print-section">
    <mat-toolbar style="text-align: center;">
            

        <ng-container  *ngIf=" isSearched && flag == 1 &&  result != null && result.length > 0">
            <span class="example-fill-remaining-space"></span>
            <span class="example-fill-remaining-space"></span>
            
            <span> بيان بأعداد الأجهزة في  {{sections[sectorID-1].name}} </span>

            <span class="example-fill-remaining-space"></span>

            <span class="example-fill-remaining-space"></span>
        </ng-container>
        <ng-container  *ngIf=" isSearched && flag == 2 &&  result != null && result.length > 0">
            <span class="example-fill-remaining-space"></span>
            <span class="example-fill-remaining-space"></span>
            
            <span > بيان بأعداد الأجهزة في  {{centersList[centerID.substr(1,2)-1].Structure}} </span>

            <span class="example-fill-remaining-space"></span>

            <span class="example-fill-remaining-space"></span>
        </ng-container>

        <ng-container *ngIf="isSearched && result != null && result.length == 0" > 
            <span class="example-fill-remaining-space"></span>
            <span class="example-fill-remaining-space"></span>

            <span > لا يوجد نتائج للبحث </span>
            
        <span class="example-fill-remaining-space"></span>
        <span class="example-fill-remaining-space"></span>
        </ng-container>

    </mat-toolbar>
<table class="table table-striped  table-hover table-border" cellspacing="0" *ngIf="isSearched && result != null && result.length > 0"
    dir="rtl">
    <thead class="thead-dark">
        <!-- <th  style="text-align: center;border: 1px solid black">القطاع</th> -->
        <th *ngIf="devicesWork >0 || devicesNotWork > 0" style="text-align: center;border: 1px solid black" colspan="2"> أجهزة الكمبيوتر</th>
        <th  *ngIf="printersWork >0 || printersNotWork  > 0"style="text-align: center;border: 1px solid black" colspan="2"> الطابعات</th>
        <th *ngIf="photocopiersWork >0 || photocopiersNotWork  > 0" style="text-align: center;border: 1px solid black" colspan="2">ماكينات التصوير</th>

        <th *ngIf="scannersWork >0 || scannerNotWork  > 0" style="text-align: center;border: 1px solid black" colspan="2">الماسح الضوئي</th>
        <th *ngIf="faxWork >0 || faxNotWork  > 0" style="text-align: center;border: 1px solid black" colspan="2">الفاكس</th>
        <th *ngIf="screensWork >0 || screenNotWork  > 0" style="text-align: center;border: 1px solid black" colspan="2">الشاشة</th>

        <th *ngIf="otherWork >0 || otherNotWork  > 0" style="text-align: center;border: 1px solid black" colspan="2">أخرى</th>

    </thead>
    <tbody>
        
<tr>
<!--     <td style="text-align: center;border: 1px solid black" ></td>
 -->    <td  *ngIf="devicesWork >0 || devicesNotWork > 0" style="text-align: center;border: 1px solid black">يعمل</td><td *ngIf="devicesWork >0 || devicesNotWork > 0" style="text-align: center;border: 1px solid black">لا يعمل</td>
    <td *ngIf="printersWork >0 || printersNotWork  > 0"  style="text-align: center;border: 1px solid black">يعمل</td><td *ngIf="printersWork >0 || printersNotWork  > 0"  style="text-align: center;border: 1px solid black">لا يعمل</td>
    <td  *ngIf="photocopiersWork >0 || photocopiersNotWork  > 0" style="text-align: center;border: 1px solid black">يعمل</td><td *ngIf="photocopiersWork >0 || photocopiersNotWork  > 0" style="text-align: center;border: 1px solid black">لا يعمل</td>
    <td  *ngIf="scannersWork >0 || scannerNotWork  > 0" style="text-align: center;border: 1px solid black">يعمل</td><td  *ngIf="scannersWork >0 || scannerNotWork  > 0" style="text-align: center;border: 1px solid black">لا يعمل</td>
    <td *ngIf="faxWork >0 || faxNotWork  > 0" style="text-align: center;border: 1px solid black">يعمل</td><td *ngIf="faxWork >0 || faxNotWork  > 0" style="text-align: center;border: 1px solid black">لا يعمل</td>
    <td *ngIf="screensWork >0 || screenNotWork  > 0" style="text-align: center;border: 1px solid black">يعمل</td><td *ngIf="screensWork >0 || screenNotWork  > 0" style="text-align: center;border: 1px solid black">لا يعمل</td>
    <td *ngIf="otherWork >0 || otherNotWork  > 0"  style="text-align: center;border: 1px solid black">يعمل</td><td *ngIf="otherWork >0 || otherNotWork  > 0"  style="text-align: center;border: 1px solid black">لا يعمل</td>

      
</tr>
     <tr style="text-align: center;">
            <!-- <td   style="border: 1px solid black"><a style="text-decoration: none;color: black;" >
                    {{sections[sectorID-1].name}} </a>
            </td> -->
            <td *ngIf="devicesWork >0 || devicesNotWork > 0" style="border: 1px solid black"><a style="text-decoration: none;color: black;" rowspan=result[i]>
                    {{devicesWork}} </a>
            </td>
            <td *ngIf="devicesWork >0 || devicesNotWork > 0" style="border: 1px solid black"><a style="text-decoration: none;color: black;" rowspan=result[i]>
                {{devicesNotWork}} </a>
        </td>
        <td  *ngIf="printersWork >0 || printersNotWork  > 0" style="border: 1px solid black"><a style="text-decoration: none;color: black;" rowspan=result[i]>
            {{printersWork}} </a>
    </td>
    <td   *ngIf="printersWork >0 || printersNotWork  > 0"style="border: 1px solid black"><a style="text-decoration: none;color: black;" rowspan=result[i]>
        {{printersNotWork}} </a>
</td>
<td  *ngIf="photocopiersWork >0 || photocopiersNotWork  > 0" style="border: 1px solid black"><a style="text-decoration: none;color: black;" rowspan=result[i]>
    {{photocopiersWork}} </a>
</td>
<td  *ngIf="photocopiersWork >0 || photocopiersNotWork  > 0" style="border: 1px solid black"><a style="text-decoration: none;color: black;" rowspan=result[i]>
    {{photocopiersNotWork}} </a>
</td>
<td  *ngIf="scannersWork >0 || scannerNotWork  > 0" style="border: 1px solid black"><a style="text-decoration: none;color: black;" rowspan=result[i]>
    {{scannersWork}} </a>
</td>
<td  *ngIf="scannersWork >0 || scannerNotWork  > 0" style="border: 1px solid black"><a style="text-decoration: none;color: black;" rowspan=result[i]>
    {{scannerNotWork}} </a>
</td>
<td *ngIf="faxWork >0 || faxNotWork  > 0" style="border: 1px solid black"><a style="text-decoration: none;color: black;" rowspan=result[i]>
    {{faxWork}} </a>
</td>
<td *ngIf="faxWork >0 || faxNotWork  > 0" style="border: 1px solid black"><a style="text-decoration: none;color: black;" rowspan=result[i]>
    {{faxNotWork}} </a>
</td>
<td *ngIf="screensWork >0 || screenNotWork  > 0" style="border: 1px solid black"><a style="text-decoration: none;color: black;" rowspan=result[i]>
    {{screensWork}} </a>
</td>
<td *ngIf="screensWork >0 || screenNotWork  > 0" style="border: 1px solid black"><a style="text-decoration: none;color: black;" rowspan=result[i]>
    {{screenNotWork}} </a>
</td>
<td  *ngIf="otherWork >0 || otherNotWork  > 0" style="border: 1px solid black"><a style="text-decoration: none;color: black;" rowspan=result[i]>
    {{otherWork}} </a>
</td>
<td  *ngIf="otherWork >0 || otherNotWork  > 0" style="border: 1px solid black"><a style="text-decoration: none;color: black;" rowspan=result[i]>
    {{otherNotWork}} </a>
</td>

        </tr> 
    </tbody>
</table>
</div>
</form>

<br><br><br><br>