
 .button-box {
    border-radius: 25px;
  border: 2px solid #edf1f7;
  margin-right: 0px;
  margin-top:10px;
  width: 50%;
  height: 80px;  
  padding-top: 20px
  }
  .button-row button{
    margin: 5px;
    align-content: center;
    align-self: center;
    width: 100px;
    font-size: 20px
 
 }

 #showButton{
  margin: 5px;
  align-content: center;
  align-self: center;
  width: 300px;
  font-size: 20px

}
 
 