<div class="wrapper">
    <div class="wrapped-div">
      <div class="tab-header">
        <h2 routerLink='/users/login' routerLinkActive='active'>تسجيل الدخول</h2>
        <!-- <h2 routerLink='/users/register' routerLinkActive='active'>مستخدم جديد</h2> -->
       
      </div>
      <!-- <p class="pcolor">
        يمكنكم التجربة بإحدى الطرق الآتية :
      </p>
      <ul class="pcolor" dir="rtl" >
<li>إستقبال منافيست الصادر بعد إدراج بيانات شهادة الصادر وبيان الشحنه وإعتماد إذن الشحن وفي حالة تعذر إدراج بيانات الشهادة الجمركية يرجى التواصل معنا  لتوفير هذه الخطوة
</li>
     <li>إستقبال منافيست الصادر بدون الحاجة إلي إدراج بيانات الشهادة وكذلك إعتماد إذن الشحن مسبقاً من قبل التوكيلات الملاحية </li>   </ul> -->

      <div class="row">
        <div class="col-md-10 offset-md-1">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
