<div class="row">
    <form [formGroup]="deviceForm" *ngIf="deviceForm" class="normal-form" dir="rtl" (submit)="onSubmit()"
        (keydown.enter)="$event.preventDefault()">
        <table>
            <tr>
                <td style="width: 120px;">
                    <label style="margin: 0px 20px;">القطاع</label>
                </td>
                <td>
                    <div class="input-group">
                        <ng-select [items]="sections" formControlName="SectionId" bindLabel="name" bindValue="sec"
                            (change)="onchangeSections($event)" placeholder="Select Section"
                            style="width: 300px; margin: 0px 20px;">
                        </ng-select>

                    </div>
                </td>
            </tr>
            <ng-container *ngIf="centersList != null">
                <tr>
                    <td>
                        <label style="margin: 0px 20px;">الإدارة المركزية</label>
                    </td>
                    <td>
                        <div class="input-group">
                            <ng-select formControlName="Centers" bindLabel="name" bindValue="ID"
                                (change)="onchangeCenters($event)" placeholder=" اختر إدارة مركزية"
                                style="width: 300px; margin: 0px 20px;">
                                <ng-option *ngFor="let center of centersList" [(value)]="center.ID">{{center.name}}
                                </ng-option>
                            </ng-select>
                        </div>
                    </td>
                </tr>
            </ng-container>
            <ng-container *ngIf="ManagmentsList != null && ManagmentsList.length > 0">

                <tr>
                    <td>
                        <label style="margin: 0px 20px;">الإدارة العامة</label>
                    </td>
                    <td>
                        <div class="input-group">

                            <ng-select *ngIf="ManagmentsList != null" formControlName="Managment" bindLabel="name"
                                bindValue="ID" (change)="onchangeManagments($event)" placeholder=" اختر إدارة عامة"
                                style="width: 300px; margin: 0px 20px;">
                                <ng-option *ngFor="let Managment of ManagmentsList" [(value)]="Managment.ID">
                                    {{Managment.name}}</ng-option>
                            </ng-select>
                        </div>
                    </td>
                </tr>
            </ng-container>
            <ng-container *ngIf="Managments1List != null && Managments1List.length > 0">
                <tr>
                    <td>
                        <label style="margin: 0px 20px;">إدارة تابعة</label>
                    </td>
                    <td>

                        <div class="input-group">

                            <ng-select formControlName="Managment1" bindLabel="name" bindValue="ID"
                                (change)="onchangeManagments1($event)" placeholder=" اختر إدارة تابعة"
                                style="width: 300px; margin: 0px 20px;">
                                <ng-option *ngFor="let Managment of Managments1List" [(value)]="Managment.ID">
                                    {{Managment.name}}</ng-option>
                            </ng-select>
                            <button type="button" *ngIf="Managment1ID != null"
                                (click)="showManagmentDevices(Managment1ID)">عرض
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-container>
            <ng-container *ngIf="Managments2List != null && Managments2List.length > 0">

                <tr>
                    <td>
                        <label style="margin: 0px 20px;">إدارة تحت التابعة</label>
                    </td>
                    <td>
                        <div class="input-group">

                            <ng-select *ngIf="Managments2List != null" formControlName="Managment2" bindLabel="name"
                                bindValue="ID" (change)="onchangemanagments2($event)"
                                placeholder=" اختر إدارة تحت التابعة" style="width: 300px; margin: 0px 20px;">
                                <ng-option *ngFor="let Managment of Managments2List" [(value)]="Managment.ID">
                                    {{Managment.name}}</ng-option>
                            </ng-select>
                            <button type="button" *ngIf="Managment2ID != null"
                                (click)="showManagmentDevices(Managment2ID)">عرض
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </table>
    </form>
</div>

<br>
<div class="search-div">
    <button style="float: right;" mat-raised-button (click)="onCreate()" *ngIf="sectorID">
        <mat-icon>add</mat-icon> اضافة إدارة
    </button>


    <!--   <i (click)="goToAllDevices()" class="material-icons">arrow_back</i>-->
    <br><br>
</div>
<div class="mat-elevation-z8" *ngIf="sectorID">
    <mat-table [dataSource]="listData" matSort>
        <!-- <ng-container matColumnDef='ID'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>ID </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.ID }}</mat-cell>
        </ng-container> -->
        <ng-container matColumnDef='name'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>الادارة </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.name }}</mat-cell>
        </ng-container>
       <!--  <ng-container matColumnDef='sec'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>sec </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.sec }}</mat-cell>

        </ng-container>
        <ng-container matColumnDef='cent'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>cent </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.cent }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef='mang'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>mang </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.mang }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef='mang1'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>mang1 </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.mang1 }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef='mang2'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>mang2 </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.mang2 }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef='Sectors1ID'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>Sectors1ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Sectors1ID }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef='Centers1ID'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>Centers1ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Centers1ID }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef='MangmentsID'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>MangmentsID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.MangmentsID }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef='Mangments1ID'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>Mangments1ID </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Mangments1ID }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef='space'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>space </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.space }} </mat-cell>
        </ng-container>
 -->
        <ng-container matColumnDef='Structure'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>تتبع </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.Structure }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef='actions'>
            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
            <mat-cell *matCellDef="let element">

                <button mat-icon-button (click)="onEdit(element.ID,flag)">
                    <mat-icon>launch</mat-icon>
                </button>
                <button mat-icon-button color="warn" disabled (click)="onDelete(element.ID)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>


        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Loading data...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
                No data.
            </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}">
        </mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>

</div>