<div class="container">

    <form [formGroup]="mangForm" *ngIf="mangForm" class="normal-form" dir="rtl" (submit)="onSubmit()"
        (keydown.enter)="$event.preventDefault()">
        <input type="hidden" value="" formControlName="ID">
        <input type="hidden" value="" formControlName="sec">
        <input type="hidden" value="" formControlName="cent">
        <input type="hidden" value="" formControlName="mang">
        <input type="hidden" value="" formControlName="mang1">
        <input type="hidden" value="" formControlName="mang2">
        <input type="hidden" value="" formControlName="space">
        <input type="hidden" value="" formControlName="cod">
        <input type="hidden" value="" formControlName="del">
        <input type="hidden" value="" formControlName="Field10">
        <input type="hidden" value="" formControlName="Sectors1ID" *ngIf="type==1">
        <input type="hidden" value="" formControlName="Centers1ID" *ngIf="type==2">
        <input type="hidden" value="" formControlName="MangmentsID" *ngIf="type==3">
        <input type="hidden" value="" formControlName="Mangments1ID" *ngIf="type==4">
        <table>
            <tr>
                <div class="form-group">

                    <mat-radio-group style="color: azure; align-items: initial;margin: 10px;"
                        aria-label="Select an option" formControlName="flag"
                        [class.is-invalid]="(submitted || f.flag.touched) && f.flag.errors">
                        <mat-radio-button style="color: black;" value="1">&nbsp;&nbsp; <div class="input-group">
                                <label style="text-align: right;margin-left: 20px;"> تعديل الاسم </label>
                            </div>
                        </mat-radio-button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <mat-radio-button style="color: black;" value="2">&nbsp;&nbsp; <div class="input-group">
                                <label style="text-align: right;margin-left: 20px;"> تعديل الادارة التابع لها </label>
                            </div>
                        </mat-radio-button>
                    </mat-radio-group>

                </div>
            </tr>
            <tr>
                <td>
                    <label style="text-align: left;margin-left: 40px;" *ngIf="f.flag.value==1"> الإدارة المراد
                        تعديلها</label>

                </td>
                <td>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" min="15" class="form-control" formControlName="name"
                                *ngIf="f.flag.value==1">
                        </div>
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <label style="text-align: left;margin-left: 40px;"> تتبع</label>

                </td>
                <td>
                    <div class="input-group">
                        <mat-form-field appearance="outline">
                            <mat-label></mat-label>
                            <textarea matInput maxlength="700" [readonly]="true" style="margin: 0px"
                                formControlName="Structure"></textarea>
                        </mat-form-field>
                    </div>
                </td>

            </tr>
            <ng-container *ngIf="sections != null && f.flag.value==2 && type == 1">
                <tr>
                    <td style="width: 120px;">
                        <label style="margin: 0px 20px;" *ngIf="type == 1">القطاع</label>
                    </td>
                    <td>
                        <div class="input-group">
                            <ng-select [items]="sections" *ngIf="type == 1" formControlName="SectionId" bindLabel="name"
                                bindValue="sec" (change)="onchangeSections($event)" placeholder="Select Section"
                                style="width: 300px; margin: 0px 20px;">
                            </ng-select>

                        </div>
                    </td>
                </tr>
            </ng-container>
            <ng-container *ngIf="centersList != null && f.flag.value==2 && type == 2">
                <tr>
                    <td>
                        <label style="margin: 0px 20px;">الإدارة المركزية</label>
                    </td>
                    <td>
                        <div class="input-group">
                            <ng-select formControlName="Centers" bindLabel="name" bindValue="ID"
                                (change)="onchangeCenters($event)" placeholder=" اختر إدارة مركزية"
                                style="width: 300px; margin: 0px 20px;">
                                <ng-option *ngFor="let center of centersList" [(value)]="center.ID">{{center.name}}
                                </ng-option>
                            </ng-select>
                        </div>
                    </td>
                </tr>
            </ng-container>
            <ng-container *ngIf="ManagmentsList != null && ManagmentsList.length > 0 && f.flag.value==2 && type == 3" >

                <tr>
                    <td>
                        <label style="margin: 0px 20px;">الإدارة العامة</label>
                    </td>
                    <td>
                        <div class="input-group">

                            <ng-select *ngIf="ManagmentsList != null" formControlName="Managment" bindLabel="name"
                                bindValue="ID" (change)="onchangeManagments($event)" placeholder=" اختر إدارة عامة"
                                style="width: 300px; margin: 0px 20px;">
                                <ng-option *ngFor="let Managment of ManagmentsList" [(value)]="Managment.ID">
                                    {{Managment.name}}</ng-option>
                            </ng-select>
                        </div>
                    </td>
                </tr>
            </ng-container>
            <ng-container *ngIf="Managments1List != null && Managments1List.length > 0 && f.flag.value==2  && type == 4">
                <tr>
                    <td>
                        <label style="margin: 0px 20px;">إدارة تابعة</label>
                    </td>
                    <td>

                        <div class="input-group">

                            <ng-select formControlName="Managment1" bindLabel="name" bindValue="ID"
                                (change)="onchangeManagments1($event)" placeholder=" اختر إدارة تابعة"
                                style="width: 300px; margin: 0px 20px;">
                                <ng-option *ngFor="let Managment of Managments1List" [(value)]="Managment.ID">
                                    {{Managment.name}}</ng-option>
                            </ng-select>
                            <button type="button" *ngIf="Managment1ID != null"
                                (click)="showManagmentDevices(Managment1ID)">عرض
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-container>
            <!-- <ng-container *ngIf="Managments2List != null && Managments2List.length > 0 && f.flag.value==2">

                <tr>
                    <td>
                        <label style="margin: 0px 20px;">إدارة تحت التابعة</label>
                    </td>
                    <td>
                        <div class="input-group">

                            <ng-select *ngIf="Managments2List != null" formControlName="Managment2" bindLabel="name"
                                bindValue="ID" (change)="onchangemanagments2($event)"
                                placeholder=" اختر إدارة تحت التابعة" style="width: 300px; margin: 0px 20px;">
                                <ng-option *ngFor="let Managment of Managments2List" [(value)]="Managment.ID">
                                    {{Managment.name}}</ng-option>
                            </ng-select>
                            <button type="button" *ngIf="Managment2ID != null"
                                (click)="showManagmentDevices(Managment2ID)">عرض
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-container> -->
        </table>
        <div class="button-box">
            <div class="button-row">
                <button type="button" mat-raised-button color="primary"  (click)="saveMang()">حفظ
                </button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                <button id="myAnchor"  mat-raised-button color="primary" (click)="goToAllDevices()"
                    type="button">رجوع</button>
            </div>
        </div>
    </form>
</div>