<!-- <h4 class="dispaly-4">Order Food Item</h4>
 --><hr>
<form [formGroup]="this.needsDetailsForm" *ngIf="needsDetailsForm" class="normal-form" dir="rtl" (submit)="onSubmit()"
      (keydown.enter)="$event.preventDefault()">
    <input type="hidden" value="" formControlName="ID">  
    <input type="hidden" value="" formControlName="OrderNeedsID">  
<!--     <input type="hidden" value="" formControlName="Achievement">  
 -->
  

    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="form-group">
                <div class="input-group">
            
                    <label style="text-align: right;margin-left: 40px;">نوع الجهاز</label>
            
                    <mat-form-field>
                        <mat-select formControlName="Type" placeholder="">
                            <ng-container *ngFor="let type of deviceTypeArray">
                                <mat-option [(value)]="type.id">{{type.name}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
            
                </div>
            </div>
  <!-- <div class="form-group">
    <div class="input-group">

      <label style="text-align: right;margin-left: 40px;">حالة الجهاز</label>

    <mat-form-field>
      <mat-select formControlName="Status" placeholder="" >
        <ng-container *ngFor="let case of printercaseArray">
          <mat-option [(value)]="case.id">{{case.name}}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    </div>
  </div> -->
</div>
<div class="form-group col-md-6">

    <!-- <div class="form-group">
        <div class="input-group">
    
          <label style="text-align: right;margin-left: 40px;">الماركة</label>
    
        <mat-form-field>
          <mat-select formControlName="Mark" placeholder="" >
            <ng-container *ngFor="let mark of MarksArray;let i=index;" >
              <mat-option [(value)]="i">{{mark.devicemark}}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        </div>
      </div> -->
</div>
</div>

<div class="form-row">
    <div class="form-group col-md-6">
        <div class="form-group">
            <div class="input-group">
              <label style="text-align: right;margin-left: 40px;">عدد الأجهزة المطلوبة</label>
        
              <!-- <div class="input-group-prepend"> -->
              <input type="number" min="1" class="form-control" formControlName="NumberOf">
              <!-- </div> -->
              
            </div>
          </div>
  </div>
  <div class="form-group col-md-6">

 <!--  <div class="form-group">
    <div class="form-group">
        <div class="input-group">
          <label style="text-align: right;margin-left: 40px;">موديل</label>
    
          <input type="text" class="form-control" formControlName="DeviceModel">
         
          
        </div>
      </div>
  </div> -->
</div>
</div>





  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> حفظ</button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> خروج</button>
  </div>
</form>