<div class="search-div">
    <button style="float: right;" mat-raised-button (click)="onCreate()">
        <mat-icon>add</mat-icon> اضافة جديد
    </button>

    <br><br>
</div>
<div class="mat-elevation-z8">
    <mat-table [dataSource]="listData" matSort>
        
        <ng-container matColumnDef='user'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>اسم المستخدم </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.user }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef='password'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>كلمة المرور</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.password }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef='dateentry'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>تاريخ الادراج</mat-header-cell>
            <mat-cell *matCellDef="let element">{{this.datepipe.transform(element.dateentry , 'yyyy-MM-dd') }}</mat-cell> 
        </ng-container>
        <ng-container matColumnDef='startdate'>
            <mat-header-cell *matHeaderCellDef mat-sort-header> تاريخ بداية كلمة المرور</mat-header-cell>
            <mat-cell *matCellDef="let element">{{this.datepipe.transform(element.startdate, 'yyyy-MM-dd') }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef='enddate'>
            <mat-header-cell *matHeaderCellDef mat-sort-header> تاريخ انتهاء كلمة المرور </mat-header-cell>
            <mat-cell *matCellDef="let element">{{this.datepipe.transform(element.enddate, 'yyyy-MM-dd') }}</mat-cell>
        </ng-container>
             
<ng-container matColumnDef='flag'>
        <mat-header-cell *matHeaderCellDef mat-sort-header>نوع المستخدم</mat-header-cell>
        <mat-cell *matCellDef="let element" >
          <ng-container *ngIf="element.flag==1" > Admin</ng-container>
          <ng-container *ngIf="element.flag == 2 "> user</ng-container>
        </mat-cell>
      </ng-container> 

        <ng-container matColumnDef='actions'>
            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
            <mat-cell *matCellDef="let element">

                <button mat-icon-button
                    (click)="onEdit(element.ID)">
                    <mat-icon>launch</mat-icon>
                </button>
                <button mat-icon-button color="warn"
                    (click)="onDelete(element.ID)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>


        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Loading data...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
                No data.
            </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}">
        </mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>