<mat-toolbar>
    <span class="example-fill-remaining-space"></span>
    <span>{{this.name}}</span>
   
    <span class="example-fill-remaining-space"></span>
</mat-toolbar>
<mat-toolbar>
    <span class="example-fill-remaining-space"></span>
<span [ngSwitch]="type">
        
    <span *ngSwitchCase="1">أجهزة كمبيوتر</span> 
    <span *ngSwitchCase="2">الطابعات</span> 
    <span *ngSwitchCase="3">ماكينات التصوير</span>   
    <span *ngSwitchCase="4">الماسح الضوئي</span>   
    <span *ngSwitchCase="5">أجهزة الفاكس</span>   
    <span *ngSwitchCase="6">الشاشات</span>   
    <span *ngSwitchCase="7">أخرى</span>   

  </span>
  <span class="example-fill-remaining-space"></span>
</mat-toolbar>
<div class="search-div">
    <button style="float: right;" mat-raised-button [disabled]="this.devicesListLength>=disableFlag"  (click)="onCreate()">
        <mat-icon>add</mat-icon> اضافة جديد
    </button>

    <i (click)="goToAllNeeds()" class="material-icons">arrow_back</i>

    <br><br>
</div>
<!-- [disabled]="this.devicesListLength>=disableFlag" -->
<div class="mat-elevation-z8">
    <mat-table [dataSource]="listData" matSort>

        <ng-container matColumnDef='AchievementDeviceType'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>نوع الجهاز </mat-header-cell>

            <mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.AchievementDeviceType == 1">  كمبيوتر</ng-container>
                <ng-container *ngIf="element.AchievementDeviceType == 2 "> طابعة</ng-container>
                <ng-container *ngIf="element.AchievementDeviceType == 3 "> ماكينة تصوير</ng-container>
                <ng-container *ngIf="element.AchievementDeviceType == 4 "> ماسح ضوئي</ng-container>
                <ng-container *ngIf="element.AchievementDeviceType == 5 ">  فاكس</ng-container>
                <ng-container *ngIf="element.AchievementDeviceType == 6 "> شاشة</ng-container>
                <ng-container *ngIf="element.AchievementDeviceType == 7 "> أخرى</ng-container>

            </mat-cell>
          
        </ng-container>
        <ng-container matColumnDef='AchievementCase'>
            
            <mat-header-cell *matHeaderCellDef mat-sort-header>حالة الجهاز </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.AchievementCase == 1"> يعمل جديد</ng-container>
                <ng-container *ngIf="element.AchievementCase == 2 "> لا يعمل جديد</ng-container>
                <ng-container *ngIf="element.AchievementCase == 3 "> يعمل قديم</ng-container>
                <ng-container *ngIf="element.AchievementCase == 4 "> لا يعمل قديم</ng-container>
            </mat-cell>
        </ng-container>


        <ng-container matColumnDef='AchievementDeviceModel'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>الموديل </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.AchievementDeviceModel }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef='Mark'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>الماركة </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.devicemark }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef='NumberOf'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>العدد </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.NumberOf }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef='devicedate'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>تاريخ التوريد </mat-header-cell>
            <mat-cell *matCellDef="let element">{{this.datepipe.transform(element.devicedateAchievment , 'yyyy-MM-dd') }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef='actions'>
            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
            <mat-cell *matCellDef="let element">
                
                <button mat-icon-button (click)="onEdit(element.ID,element.OrderNeedsDetailsID)">
                    <mat-icon>launch</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="onDelete(element.ID)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>


        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Loading data...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
                No data.
            </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}">
        </mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>