<div class="search-div">
  <button class="btn btn-danger" (click)="onClose()">
    <mat-icon>clear</mat-icon>
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input style="text-align: right" class="search" matInput [(ngModel)]="searchKey" placeholder="Search"
      autocomplete="off" (keyup)="applyFilter()">



    <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>

    </button>

  </mat-form-field>
  <button (click)="shearch()" type="button">بحث</button>
  <button (click)="getSectors2()" type="button">عرض القطاعات</button>
  &nbsp;&nbsp;
  <button *ngIf="order == 1 || order == 2 || order == 3 || order == 4" class="btn btn-danger" (click)="onBack()">
    <mat-icon>subdirectory_arrow_left</mat-icon>
  </button>


</div>
<div>
  <mat-table [dataSource]="listData" matSort *ngIf="flag!=1">
    <ng-container matColumnDef='name'>
      <mat-header-cell *matHeaderCellDef mat-sort-header>الإدارة </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef='cod'>
      <mat-header-cell *matHeaderCellDef mat-sort-header> تابعة لـ </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name1}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef='actions'>
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let element">

        <!--  <button mat-icon-button (click)="onEdit(element.ID)">
          <mat-icon>launch</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(element.ID)">
          <mat-icon>delete</mat-icon>
        </button> -->
        <button (click)="chooseRecord(element)">اختيار</button>


      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        .... تحميل
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        .لا يوجد نتائج
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getRecord(row)"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}">
    </mat-footer-row>
  </mat-table>
  <!-- <mat-paginator [length]="countItems" #paginator [pageSizeOptions]="[5, 10, 25, 100]" 
  ></mat-paginator> -->

  <mat-table [dataSource]="listDataForsearch" matSort *ngIf="flag==1">

    <ng-container matColumnDef='structure'>
      <mat-header-cell *matHeaderCellDef mat-sort-header>الإدارة </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.Structure}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef='cod'>
      <mat-header-cell *matHeaderCellDef mat-sort-header> تابعة لـ </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.name1}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef='actions'>
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let element">

        <button (click)="chooseRecord(element)">اختيار</button>


      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        .... تحميل
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        .لا يوجد نتائج
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumnsForSearch"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsForSearch;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listDataForsearch!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']"
      [ngClass]="{'hide':!(listDataForsearch!=null && listDataForsearch.data.length==0)}">
    </mat-footer-row>
  </mat-table>

<mat-paginator (page)="refreshPaginator()" [pageSize]="5"  [pageIndex]="paginator.pageIndex"
  [length]="paginator.length" [pageSizeOptions]="paginator.pageSizeOptions">
</mat-paginator>
</div>