<div class="container">
    <span class="fill-remaining-space"></span>
    <br><br>
    <div style="text-align: center;">
        <span style="font-size: 30px;">تفاصيل البوليصة</span>
    </div>
    <span class="ffill-remaining-space"></span>
    <br><br> <br><br>
    <form [formGroup]="service.MainManifestForm" class="normal-form" dir="rtl"
        (keydown.enter)="$event.preventDefault()">

        <input type="hidden" value="" formControlName="BOLIsn">
        <input type="hidden" value="" formControlName="DDBIdentification">
        <input type="hidden" value="" formControlName="ShagCDLRISN">
        <input type="hidden" value="" formControlName="ShagCDLRDDBIdentification">
        <input type="hidden" value="" formControlName="CDLRNumber">



        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <mat-form-field appearance="outline">
                        <mat-label>رقم البوليصة</mat-label>
                        <input matInput formControlName="BOLNumber" readonly>
                    </mat-form-field>
                </div>

                <div class="input-group">
                    <mat-form-field appearance="outline">
                        <mat-label>ميناء الشحن</mat-label>
                        <input matInput formControlName="LoadingPort" style="margin-bottom: 0px" readonly>
                    </mat-form-field>
                </div>

                <div class="input-group">
                    <mat-form-field appearance="outline">
                        <mat-label>ميناء الشحن</mat-label>
                        <input matInput formControlName="LoadingPortName" style="margin-bottom: 0px" readonly>
                    </mat-form-field>
                </div>
                <div class="input-group">
                    <mat-form-field appearance="outline">
                        <mat-label>نوع الشحنة</mat-label>
                        <input matInput formControlName="BOLShipmentType" style="margin-bottom: 0px" readonly>
                    </mat-form-field>
                </div>
                <div class="input-group">
                    <mat-form-field appearance="outline">
                        <mat-label>النظام الجمركي</mat-label>
                        <input matInput formControlName="CurrentCSYSName" style="margin-bottom: 0px" readonly>
                    </mat-form-field>
                </div>
                <div class="input-group">
                    <mat-form-field>
                        <input formControlName="BOLLoadingDate"  matInput readonly
                            [matDatepicker]="ArrivalDatePicker" placeholder="تاريخ الشحن">
                        <mat-datepicker-toggle matSuffix [for]="ArrivalDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #ArrivalDatePicker></mat-datepicker> 
                    </mat-form-field>
                </div>

                <div class="input-group">
                    <mat-form-field appearance="outline">
                        <mat-label>اسم المتعامل بالعربي</mat-label>
                        <input matInput formControlName="CDLRArabicName" style="margin-bottom: 0px" readonly>
                    </mat-form-field>
                </div>
                <br><br>
                <button (click)="showBolItems()">سطور البوليصة</button>

            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <mat-form-field appearance="outline">
                        <mat-label>اسم المستفيد</mat-label>
                        <input matInput formControlName="BOLConsigneeArabicName" style="margin-bottom: 0px" readonly>
                    </mat-form-field>
                </div>

                <div class="input-group">
                    <mat-form-field appearance="outline">
                        <mat-label>اسم طرف الاخطار</mat-label>
                        <input matInput formControlName="BOLNotifyName" style="margin-bottom: 0px" readonly>
                    </mat-form-field>
                </div>

                <div class="input-group">
                    <mat-form-field appearance="outline">
                        <mat-label>عدد الطرود</mat-label>
                        <input matInput formControlName="BOLTotalPackagesCount" style="margin-bottom: 0px" readonly>
                    </mat-form-field>
                </div>

                <div class="input-group">
                    <mat-form-field appearance="outline">
                        <mat-label>الوزن الكلي</mat-label>
                        <input matInput formControlName="BOLTotalGrossWeight" style="margin-bottom: 0px" readonly>
                    </mat-form-field>
                </div>

                <div class="input-group">
                    <mat-form-field appearance="outline">
                        <mat-label>الوحدة</mat-label>
                        <input matInput formControlName="UOMShortName" style="margin-bottom: 0px" readonly>
                    </mat-form-field>
                </div>
                <div class="input-group">
                    <mat-form-field appearance="outline">
                        <mat-label>تاريخ اخر تعديل </mat-label>
                        <input matInput formControlName="BOLLastModifiedDate" style="margin-bottom: 0px" readonly>
                    </mat-form-field>
                </div>
                <div class="input-group">
                    <mat-form-field appearance="outline">
                        <mat-label>حالة البوليصة</mat-label>
                        <input matInput formControlName="BOLCrs" style="margin-bottom: 0px" readonly>
                    </mat-form-field>
                </div>
            </div>

        </div>
    </form>