<div class="search-div">
    <button style="float: right;" mat-raised-button (click)="onCreate()">
        <mat-icon>add</mat-icon> اضافة جديد
    </button>
    <mat-form-field class="search-form-field" floatLabel="never">
        <input style="text-align: right" class="search" matInput [(ngModel)]="searchKey" placeholder="بحث"
            autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
            <mat-icon>close</mat-icon>

        </button>
    </mat-form-field>
    <br><br>
</div>

<!-- <div class="row">
    <form [formGroup]="deviceForm" *ngIf="deviceForm" class="normal-form" dir="rtl" (submit)="onSubmit()"
        (keydown.enter)="$event.preventDefault()">
        <table>
            <tr>
                <td style="width: 120px;">
                    <label style="margin: 0px 20px;">القطاع</label>
                </td>
                <td>
                    <div class="input-group" [ngClass]="showSections()">
                        <ng-select [items]="sections" formControlName="SectionId" bindLabel="name" bindValue="id"
                            (change)="onchangeSections($event)" placeholder="Select Section"
                            style="width: 300px; margin: 0px 20px;">
                        </ng-select>
                        <button type="button" *ngIf=" sectorID != null" (click)="showSectorDevices(sectorID)">عرض
                        </button>
                    </div>

                </td>
            </tr>
            <ng-container *ngIf="centersList != null">

            <tr>
                <td>
                    <label style="margin: 0px 20px;">الإدارة المركزية</label>
                </td>
                <td>
                    <div class="input-group" [ngClass]="showSections()">
                        <ng-select formControlName="Centers" bindLabel="name" bindValue="ID"
                            (change)="onchangeCenters($event)" placeholder=" اختر إدارة مركزية"
                            style="width: 300px; margin: 0px 20px;">
                            <ng-option *ngFor="let center of centersList" [(value)]="center.ID">{{center.name}}
                            </ng-option>
                        </ng-select>
                        <button type="button" *ngIf="centerID != null" (click)="showCenterDevices(centerID)">عرض
                        </button>
                    </div>
                </td>
            </tr>
            </ng-container>
            <ng-container *ngIf="ManagmentsList != null && ManagmentsList.length > 0">

            <tr>
                <td>
                    <label style="margin: 0px 20px;">الإدارة العامة</label>
                </td>
                <td>
                    <div class="input-group" [ngClass]="showSections()">

                        <ng-select *ngIf="ManagmentsList != null" formControlName="Managment" bindLabel="name" bindValue="ID"
                            (change)="onchangeManagments($event)" placeholder=" اختر إدارة عامة"
                            style="width: 300px; margin: 0px 20px;">
                            <ng-option *ngFor="let Managment of ManagmentsList" [(value)]="Managment.ID">
                                {{Managment.name}}</ng-option>
                        </ng-select>
                        <button type="button" *ngIf="ManagmentID != null" (click)="showManagmentDevices(ManagmentID)">عرض
                        </button>
                    </div>
                </td>
            </tr>
            </ng-container>
            <ng-container *ngIf="Managments1List != null && Managments1List.length > 0">
            <tr >
                <td>
                    <label style="margin: 0px 20px;">إدارة تابعة</label>
                </td>
                <td>
                   
                    <div class="input-group" [ngClass]="showSections()">

                        <ng-select formControlName="Managment1" bindLabel="name" bindValue="ID"
                            (change)="onchangeManagments1($event)" placeholder=" اختر إدارة تابعة"
                            style="width: 300px; margin: 0px 20px;">
                            <ng-option *ngFor="let Managment of Managments1List" [(value)]="Managment.ID">
                                {{Managment.name}}</ng-option>
                        </ng-select>
                        <button type="button" *ngIf="Managment1ID != null" (click)="showManagmentDevices(Managment1ID)">عرض
                        </button>
                    </div>
                </td>
            </tr>
</ng-container>
<ng-container *ngIf="Managments2List != null && Managments2List.length > 0">

            <tr>
                <td>
                    <label style="margin: 0px 20px;">إدارة تحت التابعة</label>
                </td>
                <td>
                    <div class="input-group" [ngClass]="showSections()">

                        <ng-select  *ngIf="Managments2List != null" formControlName="Managment2" bindLabel="name" bindValue="ID"
                            (change)="onchangemanagments2($event)" placeholder=" اختر إدارة تحت التابعة"
                            style="width: 300px; margin: 0px 20px;">
                            <ng-option *ngFor="let Managment of Managments2List" [(value)]="Managment.ID">
                                {{Managment.name}}</ng-option>
                        </ng-select>
                        <button type="button" *ngIf="Managment2ID != null" (click)="showManagmentDevices(Managment2ID)">عرض
                        </button>
                    </div>
                </td>
            </tr>
            </ng-container>
        </table>
    </form>
</div> -->

<br>
<div class="mat-elevation-z8">
    <mat-table [dataSource]="listData" matSort>
        <ng-container matColumnDef='name'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>&nbsp;&nbsp; الادارة</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.Structure}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef='CustomsArea'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>المنطقة الجمركية </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.CustomsArea == 1"> شمالية و غربية</ng-container>
                <ng-container *ngIf="element.CustomsArea == 2 "> وسطى و جنوبية</ng-container>
                <ng-container *ngIf="element.CustomsArea == 3 "> شرقية</ng-container>
            </mat-cell>
        </ng-container>

        

        <ng-container matColumnDef='photocopiers'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>ماكينات التصوير </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.photocopiers }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef='numberofdevices'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>اجهزة الكمبيوتر </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.numberofdevices }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef='printers'>
            <mat-header-cell *matHeaderCellDef mat-sort-header>عدد الطابعات </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.printers }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef='actions'>
            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
            <mat-cell *matCellDef="let element">

                <button mat-icon-button (click)="onEdit(element.serial,element.affiliatemanagement)">
                    <mat-icon>launch</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="onDelete(element.serial)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <!-- <ng-container matColumnDef='anotherActions'>
            <mat-header-cell *matHeaderCellDef  mat-sort-header></mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button *ngIf="element.numberofdevices>0" (click)="showComputers(element.serial,1,element.affiliatemanagement)">أجهزة الكمبيوتر</button>
        
                <button *ngIf="element.printers>0" (click)="showComputers(element.serial,2,element.affiliatemanagement)">الطابعات</button>
          
                <button *ngIf="element.photocopiers>0" (click)="showComputers(element.serial,3,element.affiliatemanagement)">ماكينات التصوير</button>
          
                <button *ngIf="element.scanner>0" (click)="showComputers(element.serial,4,element.affiliatemanagement)">ماسح ضوئي</button>
          
                <button *ngIf="element.fax>0" (click)="showComputers(element.serial,5,element.affiliatemanagement)">فاكس</button>
          
                <button *ngIf="element.other>0" (click)="showComputers(element.serial,7,element.affiliatemanagement)">أخرى</button>
          
              </mat-cell>
          </ng-container> -->


        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Loading data...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
                No data.
            </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}">
        </mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>