.mat-column-photocopiers {
    word-wrap: break-word !important;
    white-space: unset !important;
    
    width: 5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}  
.mat-column-numberofdevices {
    word-wrap: break-word !important;
    white-space: unset !important;
  
    width: 5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}  
.mat-column-printers {
    word-wrap: break-word !important;
    white-space: unset !important;
   
    width: 5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}  

.mat-cell {
    padding: 20px 20px 20px 0;
  }