<mat-toolbar>
  <span class="example-fill-remaining-space"></span>
  <span>مانيفيست</span>
  <span class="example-fill-remaining-space"></span>
</mat-toolbar>

<!-- <div class="search-div">
  <button style="float: right;" mat-raised-button (click)="onCreate()">
    <mat-icon>add</mat-icon> اضافة جديد
  </button>
    <mat-form-field class="search-form-field" floatLabel="never">
      <input style="text-align: right" class="search" matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      
      </button>
    </mat-form-field>
   
  </div> -->
<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData" matSort>


    <ng-container matColumnDef='MNFSTYear'>
      <mat-header-cell *matHeaderCellDef mat-sort-header> السنة </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.mnfstYear}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef='MNFSTRoadNo'>
      <mat-header-cell *matHeaderCellDef mat-sort-header>رقم الطريق </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.mnfstRoadNo}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef='PortNumber'>
      <mat-header-cell *matHeaderCellDef mat-sort-header> الميناء </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.portNumber}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef='ArrivalDate'>
      <mat-header-cell *matHeaderCellDef mat-sort-header>تاريخ الوصول </mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.arrivalDate}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef='ShipName'>
      <mat-header-cell *matHeaderCellDef mat-sort-header>السفينة</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.shipName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef='CallSign'>
      <mat-header-cell *matHeaderCellDef mat-sort-header>النداء الآلي</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.callSign }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef='actions'>
      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
      <mat-cell *matCellDef="let element">

        <button mat-icon-button (click)="showManifest(element.mnfstIsn,element.mnfstddbId)">
          <mat-icon>launch</mat-icon>
        </button>
        <button (click)="showBols(element.mnfstIsn,element.mnfstddbId)">البوالص</button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="7">
        Loading data...
      </mat-footer-cell>
    </ng-container>30000
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="7">
        No data.
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}">
    </mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
<!-- 
  <br><br>
  <div class="alert-success col-md-6">
    <h4 [innerHTML]="message"></h4>
  </div> -->
</div>